# Node modules
/node_modules/

# Output artifacts
/dist/

# Database stubs
/databases/*.db
/*.db

# Logging artifacts
/*.log

# Env File
.env

# Editors
.vscode

# Temporary assets
.temp.accounts

# Ignored files
__*
